node_modules/

.vscode/
.idea/

logs/*
!logs/.gitkeep

screenshots/*
!screenshots/.gitkeep

res

test-results/*
!test-results/.gitkeep
!test-results/junit/
test-results/junit/*
!test-results/junit/.gitkeep
/junit.xml

playground.*

node_modules.*

.env.test