version: 2.1
# orbs:
#   node: circleci/node@5.2.0
jobs:
  tests-job:
    docker:
      # list of all images
      # https://circleci.com/developer/images/image/cimg/node
      - image: cimg/node:20.10.0-browsers
    steps:
      # tutorial followed: https://circleci.com/blog/functional-browser-testing/
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Browsers
          command: npx puppeteer browsers install chrome
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run tests
          command: make test
      - run:
          name: Run Linting
          command: make lint
      - store_test_results:
          path: test-results/junit/
workflows:
  tests-workflow:
    jobs:
      - tests-job
      #- node/test:
      #  matrix:
      #    parameters:
      #      - version: 12.18.4
      # - version: 14.17.2
